html {
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  background-image: url("images/WebBackground.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  color: rgb(25, 0, 255);
  font-size: 15px;
}

main {
  margin: 0;
  padding: 0;
}

.bar {
  background-color: red;
  overflow: hidden;
}

.bar a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.bar a:hover {
  background-color:white;
  color: black;
}

.background {
  position: fixed;
}

.header{
  text-align: center;
}

.container {
  text-align: justify;
  margin-left: 10%;
  margin-right: 10%;
  padding: 5px 10px;
  border: 3px solid burlywood;
  border-radius: 10px;
  background-color: burlywood;
}

.links{
  padding: 10px;
}

#game {
  border: 5px solid rgb(0, 0, 0);
  border-radius: 10px;
}

#textDescription{
  padding: 10px;
}

#textControls{
  padding: 10px;
}

#textFeatures{
  padding: 10px;
}

#textDevelopers{
  padding: 10px;
}